<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT FOUND</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<h1> Oopss!! </h1>
<img src="/images/pagenotfound.png" alt="">
<h2>Esta página no está disponible. Disculpe las molestias.</h2>
</body>
</html>