<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
   <p>Nombre del usuario es:<%= usuario.name%></p> 

   <p>Email es: <%= usuario.email %></p> 

   <p>Avatar: <%= usuario.avatar %> </p> 

</body>
</html>